<!-- components/navbar.html -->
<header class="navbar">
    <div class="navbar-logo">
        <a href="/learnimals-site/index.html">
            <img
                src="/learnimals-site/assets/images/logo.png"
                alt="Learnimals Logo"
            />
        </a>
    </div>
    <nav class="navbar-links" aria-label="Main navigation">
        <ul>
            <li><a href="/learnimals-site/index.html">Home</a></li>
            <li><a href="/learnimals-site/subjects/math.html">Math</a></li>
            <li>
                <a href="/learnimals-site/subjects/science.html">Science</a>
            </li>
            <li>
                <a href="/learnimals-site/subjects/reading.html">Reading</a>
            </li>
            <li><a href="/learnimals-site/subjects/art.html">Art</a></li>
        </ul>
    </nav>
</header>
